<div class="hero-unit">
	<h2>Michael Falkowski</h2>
	<p>Is a professional web developer living in Chicago Illinois. Check out some of my <a href="#/work">work</a>. I also have experience with the languages and  technologies listed below. </p>
	<a href="http://github.com/falkulator" class="btn btn-primary btn-large">My Github Profile »</a>
</div>
<div class="row">
<div class="span3">
	<h3>Interests</h3>
	<%= image_tag "falko_logo.png" %>
	<ul>
		<li>My dog Dug</li>
		<li>Cycling</li>
		<li>Movies and TV</li>
		<li>Computers, Math, and Science</li>
		<li>Video Games</li>
		<ul>
			<li>Dota 2</li>
			<li>Starcraft 2</li>
			<li>Too many to list</li>
		</ul>
	</ul>
</div>

<div class="span8">
	<h3>Languages And Technologies</h3>
</div>
</div>
